<link rel="stylesheet" href="{{ asset('css/clock.css') }}">
<div class='uil-clock-css' style='transform:scale(0.16);'>
    <div class="clock"></div>
    <div class="ptr1"></div>
    <div class="ptr2"></div>
</div>