{% block modals %}
    <!-- Modal -->
    <div class="modal fade" id="recipeModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="loader">
                    {% include('@App/loader.html.twig') %}
                </div>
                <iframe width="100%" height="400" id="siteFrame" style="display: none;"></iframe>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="recipeListModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="recipelistloader">
                        {% include('@App/loader.html.twig') %}
                    </div>
                    <div id="recipeList"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="shoppingListViewModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="shoppingListViewloader">
                        {% include('@App/loader.html.twig') %}
                    </div>
                    <div id="shoppingListView"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="shoppingListAddModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="shoppingListItemViewloader">
                        {% include('@App/loader.html.twig') %}
                    </div>
                    <div id="shoppingListItemView"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="recipeSearchModal" style="z-index: 2000">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="recipeSearchloader">
                        {% include('@App/loader.html.twig') %}
                    </div>
                    <div id="recipeSearchView"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="recipeSearchViewModal" style="z-index: 5000">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="recipeSearchViewloader">
                    {% include('@App/loader.html.twig') %}
                </div>
                <iframe width="100%" height="400" src="#" id="recipeSearchViewFrame"></iframe>
            </div>
        </div>
    </div>
{% endblock %}