html, body {
    background-color: #ECECEA;
    color: #3B3738;
    font-size: 11px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/logo.png') no-repeat fixed center center;
    opacity: 0.4;
}

.large-icon {
    font-size: 3rem;
}

.text-2x {
    font-size: 2rem;
}

.frozen-blue {
    color: #322eff;
}

.cold-blue {
    color: #00b3e8;
}

.cold-green {
    color: #00d18a;
}

.green {
    color: #00a30b;
}

.warm-green {
    color: #9fcc00;
}

.warm-yellow {
    color: #e8c500;
}

.cold-orange {
    color: #e8a400;
}

.warm-orange {
    color: #ff6917;
}

.red {
    color: #d10900;
}

.text-small {
    font-size: 0.8em;
}

.card {
    opacity: 0.9;
}

.item-to-add {
    padding-top: 10px;
}

.item-to-add:not(.added) {
    cursor: pointer;
}

.item-to-add.added {
    background-color: rgba(200, 46, 11, 0.2);
    border-radius: 10px;
}

h4 {
    font-size: 13px;
}