<div class="container">
    {% for recipe in recipes %}
        <div class="row">
            <div class="col-xs-10">
                <a href="#" class="recipeListLink" data-link="{{ recipe.link }}">
                    {{ recipe.title }}
                </a>
            </div>
            <div class="col-xs-2">
                <span class="float-sm-right text-small">{{ recipe.savedOn|time_diff }}</span>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>

{% block extrascripts %}
    <script>
        $(function () {
            $('a.recipeListLink').on('click', function (event) {
                var link = $(this).data('link');
                $('#recipeList').html('<iframe width="100%" height="400" id="siteFrame" src="' + link + '"></iframe>');
                return false;
            });
        })
    </script>
{% endblock %}