<div class="container">
    <div class="row">
        {% for item in shoppingList %}
            <p>
                {{ item.item.name }}
                <span class="pull-sm-right text-small">{{ item.addedOn|time_diff }}</span>
            </p>
        {% endfor %}
    </div>
</div>